{% extends 'core/base.html' %}

{% block title %}Contactame{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Estoy disponible para trabajar en cualquier implementacion que se necesite o para desarrollos start-ups</p>
            <hr>
            <p>Este sitio web esta orientado a servir tanto como portafolio como para mostrar algunos desarrollos que puedo realizar con el Framework de Django</p>
            <br>
            <p><b>Teléfono:</b> +58 424 435 5386</p>
            <p><b>Honorarios:</b> 15$/h (precio base)</p>
        </div>
    </div>
{% endblock %}